accelerate
docling
google-generativeai
google-genai
langchain
langchain-chroma
langchain-core
langchain-google-genai
langchain-huggingface
langchain-text-splitters
matplotlib
numpy
pandas
pdf2image
Pillow
pyngrok
rank-bm25
seaborn
sentence-transformers
streamlit
torch
tqdm
transformers
ragas
